<div class="container">
    <div class="all">
        <div class="logo">
            <img src="https://thumbs.dreamstime.com/b/teamwork-community-logo-design-vector-adoption-social-network-template-156215000.jpg"
                alt="logo">
        </div>
        <div class="menu-item">Home</div>
        <div class="menu-item">About</div>
        <div class="menu-item">Contact</div>
    </div>
    <div class="search">
        <input type="text" placeholder="Search">
        <div class="search-icon"></div>
    </div>
</div>