<p>detail</p>
<div class="container">
    @if(loading$|async){
    <p>Loading...</p>
    }@else {

    <div class="cardPokeMon">
        <h1></h1>
        <!-- <img [src]="item.pokeDetail.back_default" alt="pokemon"> -->
        <!-- <p>{{item.height}}</p>
        <p>{{item.weight}}</p> -->
        <!-- <img src="{{item.sprites.back_default}}" /> -->
        <!-- <img src="{{item.sprites.other.dream_world.front_default}}" /> -->
        <!-- <img src="{{item.sprites.back_shiny}}" /> -->


    </div>
    }
</div>